<form action="/contact" method="post">
     <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control">
     </div>
     <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control">
     </div>
     <div class="form-group">
          <label for="message">Message</label>
          <textarea name="message" cols="30" rows="10" id="message" class="
form-control"></textarea>
     </div>
     <input type="submit" value="Send" class="btn btn-primary">
</form>