<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" datatoggle="
collapse" data-target="#main-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PHP Weekend</a>
        </div>

        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav">

                {% for item in nav %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>