<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></
	script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></
	script>
	<![endif]-->
</head>
<body>
{% include 'includes/nav.html' %}
<div class="container">
	<h1>{{ title }} </h1>

	{% block content %}
	<p>Template will replace this content.</p>
	{% endblock %}

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.
 js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>